{{#*inline "page"}}

{{#if is_error}}
<div class="row">
    <div class="col text-center">
        <h3>Failed to load tx</h3>
        <h4><span class="tx-error">{{error_msg}}</span></h4>
    </div>
</div>
{{else}}
<h4>{{tx_title}}</h4>
<div class="tx_description">{{tx_description}}</div>

{{#if is_blocker}}
<div class="row block-notice">
    <h5>You blocked the transaction for 5 minutes. If you decided not to sign, you should unblock it by clicking Unblock button.</h5>
</div>
{{else}}
{{#if is_blocked}}
<div class="row block-notice">
    <h5>Somebody blocked the transaction for several minutes. Please, wait until the signer finishes or timeout hits.</h5>
</div>
{{/if}}
{{/if}}

<div class="row" id="error-container">
</div>

<div class="row control-buttons">
    <button class="button outline" onclick="copy_url()">Copy URL</button>
    {{#if is_blocker}}
    <button class="button outline" onclick="unblock('{{tx_id}}')">Unblock</button>
    {{else}}
    <button class="button" {{#if is_blocked}}disabled{{/if}} onclick="block('{{tx_id}}')">Block 5 min</button>
    {{/if}}
    <a id="laboratory-url" target="_blank" class="button secondary outline">Open in Laboratory</a>
</div>

{{#if tx_published}}
<h4 class="published"><a href="https://stellar.expert/explorer/public/tx/{{tx_id}}">Transaction is published</a></h4>
{{/if}}

<h5 class="required-signs">Collected {{tx_collected}} from {{tx_required}}</h5>
<div class="row singers">
    <fieldset class="signer" id="signatures">
        <legend>Signatures</legend>
        {{#each tx_signers}}
            <div class="row signer">
                <div class="col-8">
                    <a class="signer-key" href="https://stellar.expert/explorer/public/account/{{this.key}}">{{this.key}}</a>
                </div>
                <div class="col-2">
                    <a class="singer-telegram" href="https://t.me/{{this.telegram}}">{{this.telegram}}</a>
                </div>
                <div class="col-1">
                    <span class="singer-weight">{{this.weight}}</span>
                </div>
                <div class="col-1">
                    {{#if this.signed}}<span class="singer-signed">Signed</span>{{/if}}
                </div>
            </div>
        {{/each}}
    </fieldset>
</div>

<h5>Those who not yet signed:</h5>
<div class="row ignorants">
    <div class="col-2">
        <button class="button outline" onclick="copy_ignorants()">Copy them</button>
    </div>
    <div class="col-10 ignorants-nicks">
        {{#each tx_ignorants}}
        <a class="singer-telegram" href="https://t.me/{{this}}">@{{this}}</a>
        {{/each}}
    </div>
</div>

{{#if tx_published}}

{{else}}
    {{#if is_invalid}}
    <h4><span class="tx-error">Transaction is now invalid: {{tx_invalid_msg}}</span></h4>
    {{else}}
    <form action="/update" method="post">
        <fieldset id="update-tx">
            <legend>Update transaction</legend>
            <p>
                <label for="tx_body">Transaction body</label>
                <textarea id="tx_body" name="tx_body" placeholder="Transaction body with new signatures"></textarea>
            </p>
            <div class="form-buttons">
                <button type="button" class="button primary" onclick="paste_tx()">Paste Transaction</button>
                {{#if is_blocker}}
                    <input type="submit" class="button primary" value="Update" />
                {{else}}
                    <input type="submit" class="button primary" value="Update" {{#if is_blocked}}disabled{{/if}} />
                {{/if}}
            </div>
        </fieldset>
    </form>
    {{/if}}
{{/if}}

<div class="row control-buttons">
    <button class="button outline" onclick="copy_tx()">Copy Transaction</button>
</div>
<div class="row">
    <div class="col">
        <span class="tx-body">{{tx_last}}</span>
    </div>
</div>

<h2 class="history-tittle">Transaction history</h5>
<div class="row">
    <div class="col-1">
        <span class="history-header">Number</span>
    </div>
    <div class="col-2">
        <span class="history-header">Time</span>
    </div>
    <div class="col-9">
        <span class="history-header">Transaction body</span>
    </div>
</div>
{{#each tx_history}}
<div class="row">
    <div class="col-1">
        {{this.number}}
    </div>
    <div class="col-2">
        {{this.date}}
    </div>
    <div class="col-9">
        <span class="tx-body">{{this.tx}}</span>
    </div>
</div>
{{/each}}

<script>
window.onload = async function(){
    try {
        const queryOpts = { name: 'clipboard-read', allowWithoutGesture: false };
        const permissionStatus = await navigator.permissions.query(queryOpts);
    } catch(e) {
        console.log("Failed to requrest clipboard premission: ", e);
    }

    let url = "https://laboratory.stellar.org/#xdr-viewer?type=TransactionEnvelope&network=public&input=" + encodeURIComponent(document.querySelector(".tx-body").innerText);
    $("#laboratory-url").attr("href", url);

    setTimeout(checkUpdates, 10000);
};

function checkUpdates() {
    $.get("/check/update/{{tx_id}}?updates={{tx_updates}}&block={{is_blocked}}&published={{tx_published}}", function(data) {
        if (data.is_error) {
            console.log(data.error_msg);
        } 
        if (data.updated) {
            location.reload();
        }
    });
    setTimeout(checkUpdates, 10000);
}

function block(txid) {
    $.post( "/block/" + txid, function( data ) {
        if (data.error) {
            $(".response-error").text(data.error);
        } else {
            location.reload();
        }
    });
}

function unblock(txid) {
    $.post( "/unblock/" + txid, function( data ) {
        if (data.error) {
            $(".response-error").html('<h5 class="response-error">' + data.error + '</h5>');
        } else {
            location.reload();
        }
    });
}

function paste_tx() {
    navigator.clipboard.readText().then(
        clipText => document.querySelector("#tx_body").innerText = clipText);
}

async function copy_tx() {
    await navigator.clipboard.writeText(document.querySelector(".tx-body").innerText);
}

async function copy_url() {
    await navigator.clipboard.writeText(window.location.href);
}

async function copy_ignorants() {
    await navigator.clipboard.writeText(document.querySelector(".ignorants-nicks").innerText);
}

</script>
{{/if}}
{{/inline}}
{{~> (parent)~}}

