{{#*inline "page"}}

{{#if is_error}}
<div class="row">
    <div class="col text-center">
        <h3>Failed to load tx</h3>
        <h4><span class="tx-error">{{error_msg}}</span></h4>
    </div>
</div>
{{else}}
<h4>{{tx_title}}</h4>
<div class="tx_description">{{tx_description}}</div>

{{#if is_blocked}}
<div class="row block-notice">
    <h5>Transaction is blocked for several minutes. Somebody is signing...</h5>
</div>
{{/if}}
<div class="row" id="error-container">
</div>

<div class="row control-buttons">
    <button class="button outline">Copy URL</button>
    {{#if is_blocker}}
    <button class="button outline" onclick="unblock('{{tx_id}}')">Unblock</button>
    {{else}}
    <button class="button" {{#if is_blocked}}disabled{{/if}} onclick="block('{{tx_id}}')">Block 5 min</button>
    {{/if}}
    <a href="#" class="button secondary outline">Open in Laboratory</a>
</div>

<form action="/update" method="post">
    <fieldset id="update-tx">
        <legend>Updated transaction</legend>
        <p>
            <label for="tx_body">Transaction body</label>
            <textarea id="tx_body" name="tx_body" placeholder="Transaction body with new signatures"></textarea>
        </p>
        <div class="form-buttons">
            <button class="button primary" >Paste Transaction</button>
            {{#if is_blocker}}
                <input type="submit" class="button primary" value="Update" />
            {{else}}
                <input type="submit" class="button primary" value="Update" {{#if is_blocked}}disabled{{/if}} />
            {{/if}}
        </div>
    </fieldset>
</form>

<div class="row control-buttons">
    <button class="button outline">Copy Transaction</button>
</div>
<div class="row">
    <div class="col">
        <span class="tx-body">{{tx_last}}</span>
    </div>
</div>

<script>
function block(txid) {
    $.post( "/block/" + txid, function( data ) {
        if (data.error) {
            $(".response-error").text(data.error);
        } else {
            location.reload();
        }
    });
}

function unblock(txid) {
    $.post( "/unblock/" + txid, function( data ) {
        if (data.error) {
            $(".response-error").html('<h5 class="response-error">' + data.error + '</h5>');
        } else {
            location.reload();
        }
    });
}
</script>
{{/if}}
{{/inline}}
{{~> (parent)~}}

